@import "@/styles/variables";

.proposal_container {
  max-width: $max-width-6xl;
  @media (max-width: $screen-sm) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
  }
}

.proposal_description_container {
  padding-left: $spacing-4;
  padding-right: $spacing-4;
  max-width: $max-width-6xl;
  @media (max-width: $screen-sm) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
  }
}

.proposal_votes_container {
  position: sticky;
  top: $spacing-20;
  flex-shrink: 0;
  width: $max-width-sm;
  background-color: $white;
  border: 1px solid $gray-eb;
  border-radius: $border-radius-xl;
  box-shadow: $box-shadow-newDefault;
  margin-bottom: $spacing-8;
  @media (max-width: $screen-sm) {
    align-items: stretch;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    max-height: none;
  }
}
