@import "@/styles/variables.scss";

.agora_markdown {
  h1 {
    font-size: $font-size-2xl;
  }

  h2 {
    font-size: $font-size-xl;
    margin-bottom: $spacing-2;
    margin-top: $spacing-8;
  }

  h3 {
    font-size: $font-size-lg;
    margin-bottom: $spacing-2;
    margin-top: $spacing-8;
  }

  h4 {
    font-size: $font-size-lg;
    margin-bottom: $spacing-2;
    margin-top: $spacing-8;
  }

  h5 {
    font-size: $font-size-lg;
    margin-bottom: $spacing-2;
    margin-top: $spacing-8;
  }

  h6 {
    font-size: $font-size-lg;
    margin-bottom: $spacing-2;
    margin-top: $spacing-8;
  }

  pre {
    background-color: var(--neutral);
    border-radius: $border-radius-lg;
    border: 1px solid var(--line);
  }

  code {
    color: var(--secondary);
  }

  ul,
  ol {
    padding-left: 1rem;
  }

  li {
    padding-left: $spacing-0;
  }

  li::marker,
  ol::marker {
    color: var(--secondary);
  }

  img {
    border-radius: $border-radius-lg;
  }

  a {
    text-decoration: none;
    font-weight: inherit;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--line);
    transition: 200ms all;
  }

  a:hover {
    border-bottom: 1px solid var(--tertiary);
  }

  p {
    word-break: break-word;
    color: var(--secondary);
  }

  pre {
    white-space: pre-wrap;
  }
}
