@import "@/styles/variables.scss";

.proposal_description_md {
  :global(.wmde-markdown table) {
    display: table !important;
    width: 100% !important;
    table-layout: fixed !important;
  }
}
.code {
  :global(.wmde-markdown pre code),
  :global(.wmde-markdown pre tt) {
    color: rgb(var(--primary)) !important;
  }
}

.agora_markdown {
  h1 {
    font-size: $font-size-2xl;
  }

  h2 {
    font-size: $font-size-xl;
    margin-bottom: $spacing-2;
    margin-top: $spacing-8;
  }

  h3 {
    font-size: $font-size-lg;
    margin-bottom: $spacing-2;
    margin-top: $spacing-8;
  }

  h4 {
    font-size: $font-size-lg;
    margin-bottom: $spacing-2;
    margin-top: $spacing-8;
  }

  h5 {
    font-size: $font-size-lg;
    margin-bottom: $spacing-2;
    margin-top: $spacing-8;
  }

  h6 {
    font-size: $font-size-lg;
    margin-bottom: $spacing-2;
    margin-top: $spacing-8;
  }

  pre {
    border-radius: $border-radius-lg;
  }

  ul,
  ol {
    padding-left: 1rem;
  }

  li {
    padding-left: $spacing-0;
  }

  img {
    border-radius: $border-radius-lg;
  }

  a {
    text-decoration: none;
    font-weight: inherit;
    padding-bottom: 1px;
    transition: 200ms all;
  }

  p {
    word-break: break-word;
  }

  pre {
    white-space: pre-wrap;
  }
}
