@import "@/styles/variables.scss";

.agora_markdown {
  :global(.wmde-markdown) {
    background: transparent;
    line-height: 1.75;
    font-size: 1rem;
    h1 {
      color: rgb(var(--primary));
      font-size: 2 rem;
      font-weight: 600;
    }

    h2 {
      color: rgb(var(--primary));
      font-size: $font-size-2xl;
      font-weight: 600;
      margin-top: $spacing-8;
      margin-bottom: $spacing-2;
    }

    h3 {
      color: rgb(var(--primary));
      font-size: $font-size-xl;
      font-weight: 600;
      margin-top: $spacing-8;
      margin-bottom: $spacing-2;
    }
    h4,
    h5,
    h6 {
      color: rgb(var(--secondary));
      font-size: $font-size-lg;
      font-weight: 600;
      margin-top: $spacing-8;
      margin-bottom: $spacing-2;
    }

    p {
      word-break: break-word;
    }

    a {
      color: rgb(var(--secondary));
      font-weight: inherit;
      padding-bottom: 1px;
      text-decoration: underline;
      transition: 200ms all;
    }

    ul,
    ol {
      padding-left: 2rem !important;
    }

    ul {
      list-style-type: disc !important;
    }

    ol {
      list-style-type: decimal !important;
    }

    li {
      display: list-item !important;
      padding-left: 0;
    }

    li::marker {
      color: rgb(var(--primary));
    }

    table {
      display: table !important;
      width: 100% !important;
      table-layout: fixed !important;
      overflow-x: auto;
    }

    td {
      min-width: 140px;
    }

    code {
      color: rgb(var(--secondary));
    }

    pre {
      border-radius: $border-radius-lg;
      white-space: pre-wrap;

      code {
        color: rgb(var(--secondary));
      }
    }

    img {
      border-radius: $border-radius-lg;
    }

    strong {
      color: rgb(var(--primary));
    }
  }
}
