@import "@/styles/variables.scss";

.vote_bar_ticks {
  cursor: help;
  .for {
    background: #06ab34;
    border-radius: $border-radius-full;
    width: 2px;
    height: 12px;
  }
  .against {
    background: #d62600;
    border-radius: $border-radius-full;
    width: 2px;
    height: 12px;
  }
  .abstain {
    background: #afafaf;
    border-radius: $border-radius-full;
    width: 2px;
    height: 12px;
  }
}
