@import "@/styles/variables";

.create_prop {
  &_container {
    margin-top: $spacing-12;
    margin-bottom: $spacing-8;
    width: 100%;
    max-width: $max-width-6xl;

    @media (max-width: $max-width-6xl) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &_right_box {
    flex-shrink: 0;
    width: $max-width-sm;

    @media (max-width: $max-width-4xl) {
      width: 100%;
    }
  }
}
