@import "@/styles/variables";

.vote_row {
  font-size: $font-size-xs;
  color: #66676b;
  padding: $spacing-1 0;

  .voter {
    color: $gray-4f;
    font-weight: $font-weight-semibold;
  }
  .vote_reason {
    font-family: inherit;
    font-size: $font-size-xs;
    font-weight: $font-weight-medium;
    white-space: pre-wrap;
    color: #66676b;
    width: fit-content;
    word-break: break-all;
  }
}

.vote_container {
  padding: 0 $spacing-4;
  padding-bottom: $spacing-4;
  overflow-y: scroll;
  max-height: calc(100vh - 437px);
}
