@import "@/styles/variables";

.hero_container {
  margin-top: $spacing-12;
  margin-bottom: $spacing-12;
  width: $max-width-6xl;
  @media (max-width: $max-width-md) {
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 0;
  }
  .content_container {
    max-width: $max-width-xl;
    @media (max-width: $max-width-md) {
      margin-top: 0;
      margin-bottom: $spacing-8;
    }
    h1 {
      font-weight: $font-weight-extrabold;
      font-size: $font-size-2xl;
      margin-bottom: $spacing-2;
    }
    p {
      color: $gray-700;
      font-size: $font-size-base;
    }
  }
  .partner_image_container {
    background-color: blue;
    position: relative;
    height: 100%;
    width: 100%;
    @media (max-width: $max-width-xl) {
      display: none;
    }
    .spark1 {
      position: absolute;
      top: 8px;
      left: 45%;
      transform: rotate(8deg);
      filter: drop-shadow(0px 0px 8px rgba(255, 0, 0, 0.15));
    }
    .agora {
      position: absolute;
      top: 64px;
      left: 52%;
      transform: rotate(-6deg);
      filter: drop-shadow(0px 0px 8px rgba(255, 0, 0, 0.15));
    }
    .spark2 {
      position: absolute;
      top: 0px;
      right: 15%;
      transform: rotate(12deg);
      filter: drop-shadow(0px 0px 8px rgba(255, 0, 0, 0.15));
    }
    .thumb {
      position: absolute;
      top: 72px;
      right: 12%;
      transform: rotate(-8deg);
      filter: drop-shadow(0px 0px 8px rgba(255, 0, 0, 0.15));
    }

    .opToken {
      position: absolute;
      top: 24px;
      right: 5%;
      animation: $rotate-continuous;
      transform: rotate(8deg);
      filter: drop-shadow(0px 0px 8px rgba(255, 0, 0, 0.15));
    }
    .sunny_bg {
      position: absolute;
      top: 0px;
      right: 20%;
      animation: $rotate-continuous;
      filter: drop-shadow(0px 0px 8px rgba(255, 0, 0, 0.15));
    }
    .sunny_face {
      position: absolute;
      top: 0px;
      right: 20%;
    }
  }
}
