@import "@/styles/variables";

.hero_container {
  margin-top: $spacing-12;
  margin-bottom: $spacing-12;
  width: $max-width-6xl;
  @media (max-width: $max-width-md) {
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 0;
  }
  .content_container {
    max-width: $max-width-xl;
    @media (max-width: $max-width-md) {
      margin-top: 0;
      margin-bottom: $spacing-8;
    }
    h1 {
      font-weight: $font-weight-extrabold;
      font-size: $font-size-2xl;
      margin-bottom: $spacing-2;
    }
    p {
      color: $gray-700;
      font-size: $font-size-base;
    }
  }
  .partner_image_container {
    position: relative;
    background-color: red;
    height: 100%;
    width: 100%;
    @media (max-width: $max-width-xl) {
      display: none;
    }
    .sunny_bg {
      position: absolute;
      top: 0px;
      right: 0px;
      animation: $rotate-continuous;
    }
    .sunny_face {
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }
}
