@use "@/styles/variables" as *;

.proposal_description {
  width: $max-width-3xl;
  @media (max-width: $screen-sm) {
    width: auto;
  }
}

.proposal_description_md {
  h1 {
    font-size: $font-size-2xl;
    font-weight: 700;
  }

  h2 {
    font-size: $font-size-xl;
    margin-bottom: $spacing-2;
    margin-top: $spacing-8;
    font-weight: 700;
  }

  h3 {
    font-size: $font-size-lg;
    margin-bottom: $spacing-2;
    margin-top: $spacing-8;
    font-weight: 700;
  }

  h4 {
    font-size: $font-size-lg;
    margin-bottom: $spacing-2;
    margin-top: $spacing-8;
    font-weight: 700;
  }

  h5 {
    font-size: $font-size-lg;
    margin-bottom: $spacing-2;
    margin-top: $spacing-8;
    font-weight: 700;
  }

  h6 {
    font-size: $font-size-lg;
    margin-bottom: $spacing-2;
    margin-top: $spacing-8;
    font-weight: 700;
  }

  pre {
    border-radius: $border-radius-lg;
  }

  code {
    color: var(--secondary);
  }

  ul,
  ol {
    padding-left: 1rem;
  }

  li {
    padding-left: $spacing-0;
  }

  li::marker,
  ol::marker {
    color: var(--primary);
  }

  img {
    border-radius: $border-radius-lg;
  }

  a {
    text-decoration: underline;
    color: var(--secondary);
    font-weight: inherit;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--line);
    transition: 200ms all;
  }

  p {
    word-break: break-word;
  }

  pre {
    white-space: pre-wrap;
  }

  code {
    border-radius: $border-radius-lg;
  }
}
