.dao_metric_container {
  display: flex;
  flex-direction: column;
  @apply w-full;
  @apply px-1;

  @screen sm {
    flex-direction: row;
    justify-content: space-between;
    @apply px-2;
  }
}

.dao_metric_card {
  @apply bg-white;
  @apply p-1;
  @apply my-0.5;
  @apply mx-2;
  @apply shadow;
  @apply rounded-lg;
  @apply w-full;

  @screen sm {
    @apply mb-2;
    flex: 1;
  }
}