@tailwind base;
@tailwind components;
@tailwind utilities;

.pageTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

nav {
  a.active {
    background-color: #f0efef;
    color: black;
  }
}

section {
  h1 {
    @apply text-4xl font-bold;
    @apply mb-4;
  }
  h2 {
    @apply text-xl font-bold;
    @apply mb-4;
  }
}

.agora_markdown {
  line-height: 1.6;
  font-size: 1rem;
  color: #333;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.agora_markdown h1,
.agora_markdown h2,
.agora_markdown h3,
.agora_markdown h4,
.agora_markdown h5,
.agora_markdown h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.agora_markdown h1 {
  font-size: 2em;
  margin-top: 0.5em;
}

.agora_markdown h2 {
  font-size: 1.75em;
}

.agora_markdown h3 {
  font-size: 1.5em;
}

.agora_markdown h4 {
  font-size: 1.25em;
}

.agora_markdown h5 {
  font-size: 1em;
}

.agora_markdown h6 {
  font-size: 0.875em;
}

.agora_markdown p {
  margin-bottom: 1em;
}

.agora_markdown ul,
.agora_markdown ol {
  padding-left: 2em;
  margin-bottom: 1em;
}

.agora_markdown blockquote {
  margin: 1em 0;
  padding: 0.5em 1em;
  background-color: #f6f8fa;
  border-left: 0.25em solid #dfe2e5;
}

.agora_markdown code {
  font-family: monospace;
  background-color: #f6f8fa;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

.agora_markdown pre {
  font-family: monospace;
  background-color: #f6f8fa;
  padding: 1em;
  border-radius: 3px;
  overflow-x: auto;
  white-space: pre-wrap;
}

.agora_markdown a {
  color: #0366d6;
  /* or any color that suits your design */
  text-decoration: none;
}

.agora_markdown a:hover {
  text-decoration: underline;
}

.agora_markdown img {
  max-width: 100%;
  height: auto;
  display: block;
  /* optional: to center the image if you like */
  margin: 2rem auto;
  /* optional: to center the image if you like */
}

// Votes
.agora_votes {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

// Proposal lists
.proposal_list_title h1 {
  @apply text-xl;
}

.bg-radial-gradient {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(
    circle,
    rgba(252, 252, 252, 0) 60%,
    rgba(252, 252, 252, 1) 100%
  );
  z-index: -9;
  pointer-events: none;
}

.bg-dotted-pattern {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  background-color: #fcfcfc;
  background-image: radial-gradient(rgba(0, 0, 0, 10%) 0.5px, transparent 0);
  background-size: 8px 8px;
}
