@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@/styles/variables";

//////////////////////////
//bar styling
//////////////////////////
html {
  /* width */
  ::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $white;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a7a7a7;
    border: 4px solid $white;
    border-radius: 8px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

//////////////////////////
// Titles
//////////////////////////
.gl_section_title {
  font-size: $font-size-2xl;
  font-weight: $font-weight-extrabold;
  padding: 0 $spacing-4;
  margin-bottom: $spacing-4;
  @media (max-width: $screen-sm) {
    margin-bottom: 0px;
  }
}

//////////////////////////
// HERO Section
//////////////////////////
.gl_hero_bg_image {
  max-width: $max-width-md;
}

//////////////////////////
// Layout Utilities
//////////////////////////
.gl_page_divider {
  background: $gray-300;
  width: 100%;
  height: 1px;
  margin-top: -$spacing-8;
  margin-bottom: $spacing-8;
  z-index: -1;
}

.gl_bg-radial-gradient {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(
    circle,
    rgba(252, 252, 252, 0) 60%,
    rgba(252, 252, 252, 1) 100%
  );
  z-index: -9;
  pointer-events: none;
}

.gl_bg-dotted-pattern {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  background-color: #fcfcfc;
  background-image: radial-gradient(rgba(0, 0, 0, 10%) 0.5px, transparent 0);
  background-size: 8px 8px;
}

//////////////////////////
// Proposal FOR, AGAINST, ABSTAIN Styles
//////////////////////////

.gl_votes_for {
  color: #06ab34;
}
.gl_votes_abstain {
  color: #afafaf;
}
.gl_votes_against {
  color: #d62600;
}

//////////////////////////
// Containers
//////////////////////////
///
.gl_box {
  @apply border p-4 border-line shadow-newDefault rounded-xl;

  &_secondary {
    @apply bg-wash;
  }
}

//////////////////////////
// Remove spinner for html elements with input number
//////////////////////////

/* For Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

//////////////////////////
// Shadcn UI
//////////////////////////

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-brandSecondary text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

//////////////////////////
// Custom tenant fonts
//////////////////////////

@font-face {
  font-family: "TransSansPremium";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/TransSansPremium/TransSansPremium_Light.otf")
    format("opentype");
}

@font-face {
  font-family: "TransSansPremium";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/TransSansPremium/TransSansPremium_Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "TransSansPremium";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/TransSansPremium/TransSansPremium_SemiBold.otf")
    format("opentype");
}

@font-face {
  font-family: "TransSansPremium";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/TransSansPremium/TransSansPremium_Bold.otf")
    format("opentype");
}

.confettiContainer {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  animation: confetti-fall 3s ease-out forwards;
}

/* Colors */
.confetti:nth-child(4n) {
  background-color: #ffd700;
}
.confetti:nth-child(4n + 1) {
  background-color: #ff4f4f;
}
.confetti:nth-child(4n + 2) {
  background-color: #4faf4f;
}
.confetti:nth-child(4n + 3) {
  background-color: #4f4fff;
}

/* Positions and delays */
.confetti:nth-child(1) {
  left: 10%;
  animation-delay: 0s;
}
.confetti:nth-child(2) {
  left: 20%;
  animation-delay: 0.1s;
}
.confetti:nth-child(3) {
  left: 30%;
  animation-delay: 0.2s;
}
.confetti:nth-child(4) {
  left: 40%;
  animation-delay: 0.3s;
}
.confetti:nth-child(5) {
  left: 50%;
  animation-delay: 0.4s;
}
.confetti:nth-child(6) {
  left: 60%;
  animation-delay: 0.5s;
}
.confetti:nth-child(7) {
  left: 70%;
  animation-delay: 0.6s;
}
.confetti:nth-child(8) {
  left: 80%;
  animation-delay: 0.7s;
}
.confetti:nth-child(9) {
  left: 90%;
  animation-delay: 0.8s;
}
.confetti:nth-child(10) {
  left: 15%;
  animation-delay: 0.9s;
}
.confetti:nth-child(11) {
  left: 25%;
  animation-delay: 1s;
}
.confetti:nth-child(12) {
  left: 35%;
  animation-delay: 1.1s;
}

/* Shapes */
.confetti:nth-child(4n) {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); /* Triangle */
}
.confetti:nth-child(4n + 1) {
  border-radius: 50%; /* Circle */
}
.confetti:nth-child(4n + 2) {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); /* Diamond */
}
.confetti:nth-child(4n + 3) {
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  ); /* Octagon */
}

@keyframes confetti-fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  25% {
    transform: translateY(25px) rotate(45deg);
    opacity: 0.75;
  }

  50% {
    transform: translateY(50px) rotate(90deg);
    opacity: 0.5;
  }

  75% {
    transform: translateY(75px) rotate(135deg);
    opacity: 0.25;
  }

  100% {
    transform: translateY(100px) rotate(180deg);
    opacity: 0;
  }
}
