@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@/styles/variables";

//////////////////////////
// Scrollbar styling
//////////////////////////
html {
  /* width */
  ::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $white;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a7a7a7;
    border: 4px solid $white;
    border-radius: 8px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

//////////////////////////
// Titles
//////////////////////////
.gl_section_title {
  font-size: $font-size-2xl;
  font-weight: $font-weight-extrabold;
  padding: 0 $spacing-4;
  margin-bottom: $spacing-4;
  @media (max-width: $max-width-lg) {
    margin-bottom: 0px;
  }
}

//////////////////////////
// HERO Section
//////////////////////////
.gl_hero_bg_image {
  max-width: $max-width-md;
}

//////////////////////////
// Layout Utilities
//////////////////////////
.gl_page_divider {
  background: $gray-300;
  width: 100%;
  height: 1px;
  margin-top: -$spacing-8;
  margin-bottom: $spacing-8;
  z-index: -1;
}

.gl_bg-radial-gradient {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(
    circle,
    rgba(252, 252, 252, 0) 60%,
    rgba(252, 252, 252, 1) 100%
  );
  z-index: -9;
  pointer-events: none;
}

.gl_bg-dotted-pattern {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  background-color: #fcfcfc;
  background-image: radial-gradient(rgba(0, 0, 0, 10%) 0.5px, transparent 0);
  background-size: 8px 8px;
}

//////////////////////////
// Proposal FOR, AGAINST, ABSTAIN Styles
//////////////////////////

.gl_votes_for {
  color: $color-green-700;
}
.gl_votes_abstain {
  color: $gray-700;
}
.gl_votes_against {
  color: $red-700;
}

//////////////////////////
// Containers
//////////////////////////
///
.gl_box {
  @apply border p-4 border-gray-eo shadow-newDefault rounded-xl;

  &_secondary {
    @apply bg-gray-fa;
  }
}

//////////////////////////
// Remove spinner for html elements with input number
//////////////////////////

/* For Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

//////////////////////////
// Shadcn UI
//////////////////////////

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
