@import "variables";

@mixin buttonStyles {
}

// "bg-white rounded-md border border-line text-sm font-medium shadow-newDefault cursor-pointer py-2 px-3 transition-all hover:bg-line active:shadow-none disabled:bg-gray-300 disabled:text-gray-700"
@mixin buttonStylesSmall {
  border-radius: $spacing-2;
  border-width: $spacing-px;
  border-color: $gray-eb;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  box-shadow: $box-shadow-newDefault;
  cursor: pointer;
  padding: $spacing-2 $spacing-3;
  transition: all 200ms;

  &:hover {
    background: $gray-100;
  }

  &:active {
    box-shadow: $box-shadow-none;
  }

  &:disabled {
    background: $gray-eb;
    color: $gray-700;
  }
}
