// Screens
$screen-sm: 640px;

// Spacing
$spacing-0: 0;
$spacing-2: 0.5rem;
$spacing-4: 1rem;
$spacing-8: 2rem;

// Font Sizes
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1.25rem; // 20px
$font-size-2xl: 1.5rem; // 24px

// Font Weights
$font-weight-extrabold: 800;

// White
$white: #ffffff;
$black: #000000;

// Gray Colors
$gray-eb: #ebebeb;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-600: #718096;
$gray-800: #2d3748;

// Border Radius
$border-radius-lg: 0.5rem;

// Max Widths
$max-width-md: 28rem;
$max-width-3xl: 48rem;
