@import "@/styles/variables";

.dialog_container {
  width: 100%;
  max-width: $max-width-md;
  background: $white;

  .details_container {
    padding-top: $spacing-3;
    padding-bottom: $spacing-3;
    width: 100%;

    color: #66676b;
    font-size: $font-size-xs;

    .transfer_symbol_container {
      width: 100%;
      z-index: 1;
      position: relative;

      .circle_container {
        position: absolute;
        @include inset0;
        z-index: -1;

        .circle {
          height: 1px;
          background: $gray-eb;
        }
      }

      .arrow_container {
        width: $spacing-10;
        height: $spacing-10;
        background: $white;
        border: 1px solid $gray-eb;
        border-radius: $border-radius-full;
        padding: $spacing-2;
        box-shadow: $box-shadow-default;
      }
    }
  }

  .token_amount_container {
    color: $black;
    font-size: $font-size-4xl;
    @media (max-width: $screen-sm) {
      font-size: $font-size-3xl;
    }
  }
}

.avatar {
  > div {
    width: $spacing-10;
    height: $spacing-10;
  }
}

.amount_container {
  font-size: $font-size-xs;
  border: 1px solid $gray-300;
  border-radius: $border-radius-lg;
  justify-content: center;
  align-items: center;
  padding: $spacing-8 $spacing-2;
  width: 100%;
}

.subtitle {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  color: $gray-700;
}

.address_to {
  font-weight: $font-weight-medium;
  color: $black;

  @media (max-width: $screen-sm) {
    max-width: $spacing-24;
  }
}
