@import "@/styles/variables";

.proposal_title_container {
  flex-direction: column-reverse;
  align-items: flex-start;
  h2 {
    font-size: $font-size-2xl;
    font-weight: $font-weight-black;
  }
  .proposal_proposer {
    font-size: $font-size-xs;
    font-weight: $font-weight-semibold;
    color: $gray-700;
  }
}
