@import "@/styles/variables.scss";

.status-defeated,
.status-cancelled,
.status-vetoed,
.status-expired {
  color: $red-700;
  // background-color: $red-200;
}

.status-succeeded,
.status-executed,
.status-queued {
  color: $color-green-700;
  // background-color: $color-green-200;
}

.status-pending {
  color: $gray-900;
  // background-color: $gray-200;
}

.status-active {
  color: $color-blue-700;
  // background-color: $color-blue-200;
}
.status-test {
  color: $gray-600;
  // background-color: $gray-200;
}

.status-closed {
  color: $color-purple-700;
  // background-color: $gray-200;
}

.cell_content_status_pill {
  text-transform: lowercase;
}

.cell_content_status_pill:first-letter {
  text-transform: uppercase;
}
