@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } 
}

html {
  position: relative;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

nav {
  a.active {
    background-color: #f0efef;
    color: black;
  }
}
