@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } 
}

html {
  position: relative;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

nav {
  a.active {
    background-color: #f0efef;
    color: black;
  }
}

section {
  h1 {
      @apply text-4xl font-bold;
      @apply mb-4;
    }
  h2 { 
      @apply text-xl font-bold;
      @apply mb-4;
  }
}

.agora_markdown {
  line-height: 1.6;
  font-size: 1rem;
  color: #333;
  overflow-wrap: break-word;
  word-wrap: break-word;  
}


.agora_markdown h1,
.agora_markdown h2,
.agora_markdown h3,
.agora_markdown h4,
.agora_markdown h5,
.agora_markdown h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.agora_markdown h1 {
  font-size: 2em;
  margin-top: 0.5em;
}

.agora_markdown h2 {
  font-size: 1.75em;
}

.agora_markdown h3 {
  font-size: 1.5em;
}

.agora_markdown h4 {
  font-size: 1.25em;
}

.agora_markdown h5 {
  font-size: 1em;
}

.agora_markdown h6 {
  font-size: 0.875em;
}

.agora_markdown p {
  margin-bottom: 1em;
}

.agora_markdown ul,
.agora_markdown ol {
  padding-left: 2em;
  margin-bottom: 1em;
}

.agora_markdown blockquote {
  margin: 1em 0;
  padding: 0.5em 1em;
  background-color: #f6f8fa;
  border-left: 0.25em solid #dfe2e5;
}

.agora_markdown code {
  font-family: monospace;
  background-color: #f6f8fa;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

.agora_markdown pre {
  font-family: monospace;
  background-color: #f6f8fa;
  padding: 1em;
  border-radius: 3px;
  overflow-x: auto;
  white-space: pre-wrap;
}

.agora_markdown a {
  color: #0366d6;
  /* or any color that suits your design */
  text-decoration: none;
}

.agora_markdown a:hover {
  text-decoration: underline;
}

.agora_markdown img {
  max-width: 100%;
  height: auto;
  display: block;
  /* optional: to center the image if you like */
  margin: 2rem auto;
  /* optional: to center the image if you like */
}

// Votes
.agora_votes {
  overflow-wrap: break-word;
  word-wrap: break-word;
}