@import "@/styles/variables.scss";

.proposal_row {
  border-bottom: 1px solid $gray-300;
}

.cell_content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: $spacing-4 $spacing-6;
  .cell_content_title {
    font-size: $font-size-xs;
    color: $gray-700;
  }
  .cell_content_body {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.cell_title {
  width: 55%;
  align-items: flex-start;
  justify-content: center;
  @media (max-width: $screen-sm) {
    width: 100%;
  }
}
.cell_status {
  width: 15%;
  align-items: flex-start;
  justify-content: center;
  @media (max-width: $screen-sm) {
    display: none;
  }
}
.cell_result {
  width: 30%;
  align-items: flex-end;
  justify-content: center;
  @media (max-width: $screen-sm) {
    display: none;
  }
}

.mobile_status {
  display: none;
  @media (max-width: $screen-sm) {
    display: block;
  }
}

.invisible_on_mobile {
  @media (max-width: $screen-sm) {
    display: none;
  }
}
