@import "@/styles/variables.scss";

.proposal_row_on_chain {
  border-bottom: 1px solid $gray-300;
  transition: background-color 0.1s ease-in-out;

  :hover {
    background: $gray-fa;
  }
}

.cell_content {
  padding: $spacing-4 $spacing-6;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  .cell_content_title {
    font-size: $font-size-xs;
    color: $gray-700;
  }
  .cell_content_body {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.cell_content_primary {
  padding: $spacing-4 $spacing-6;
  white-space: nowrap;
  width: 50%;
  text-overflow: ellipsis;
  .cell_content_title {
    font-size: $font-size-xs;
    color: $gray-700;
  }
  .cell_content_body {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
