@import "@/styles/variables";

.container {
  position: sticky;
  top: $spacing-16;
  flex-shrink: 0;
  width: $max-width-xs;

  @media (max-width: $screen-sm) {
    position: static;
  }

  @media (max-width: $screen-sm) {
    width: 100%;
  }
}

.card {
  background-color: $white;
  border-radius: $spacing-3;
  border-width: $spacing-px;
  border-color: $gray-300;
  box-shadow: $box-shadow-newDefault;
}

.image {
  padding: $spacing-6;
  border-bottom: $spacing-px solid $gray-300;
}

.content {
  display: flex;
  flex-direction: column;
  padding: $spacing-6;
}

.row {
  font-size: $font-size-sm;
  color: #4f4f4f;
  text-align: right;
}

.profile_image {
  position: relative;
  aspect-ratio: 1/1;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 100%;
}

.address {
  font-size: $font-size-base;
  font-weight: $font-weight-semibold;
}

.token {
  font-size: $font-size-xs;
  font-weight: $font-weight-semibold;
  color: #4f4f4f;
}
