@import "@/styles/variables";

.info_panel {
  background-color: $gray-fa;
  border-radius: $spacing-3;
  border-width: $spacing-px;
  border-color: $gray-eb;
  box-shadow: $box-shadow-default;
  padding: $spacing-6;

  &__title {
    font-size: $font-size-2xl;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-4;
  }

  &__description {
    font-size: $font-size-sm;
    color: $gray-4f;
    font-weight: $font-weight-normal;
    & > p {
      &:not(:last-child) {
        margin-bottom: $spacing-4;
      }
    }
  }
}
