@import "@/styles/variables.scss";

.proposal_container {
  max-width: $max-width-6xl;
  @media (max-width: $max-width-2xl) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
  }
}

.proposal_votes_container {
  position: sticky;
  top: $spacing-20;
  max-height: calc(100vh - 188px);
  flex-shrink: 0;
  width: $max-width-sm;
  background-color: $white;
  border: 1px solid $gray-eb;
  border-radius: $border-radius-xl;
  box-shadow: $box-shadow-newDefault;
  margin-bottom: $spacing-8;
  @media (max-width: $max-width-2xl) {
    align-items: stretch;
    justify-content: flex-end;
    width: 100%;
    height: auto;
  }

  .proposal_votes_summary_container {
    padding: $spacing-2 $spacing-4 $spacing-3 $spacing-4;
    border-radius: $border-radius-md;
    font-weight: $font-weight-bold;
    flex-shrink: 0;
    font-size: $font-size-xs;
    border: 1px solid $gray-300;
    margin: 0 $spacing-4;
    box-shadow: $box-shadow-newDefault;
  }

  .proposal_actions_panel {
    min-height: 0;
    flex-shrink: 1;
    padding-top: $spacing-4;
    padding-bottom: $spacing-4;
  }
  .proposal_header {
    padding: 0 $spacing-4;
    font-weight: $font-weight-semibold;
    margin-bottom: $spacing-2;
  }
}
