@import "@/styles/variables.scss";

.proposal_container {
  max-width: $max-width-6xl;
  @media (max-width: $screen-sm) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
  }
}

.proposal_votes_container {
  position: sticky;
  top: $spacing-20;
  max-height: calc(100vh - 162px);
  flex-shrink: 0;
  width: $max-width-sm;
  background-color: $white;
  border: 1px solid $gray-eb;
  border-radius: $border-radius-xl;
  box-shadow: $box-shadow-newDefault;
  margin-bottom: $spacing-8;
  transition: bottom 600ms cubic-bezier(0, 0.975, 0.015, 0.995);
  z-index: 50;

  @media (max-width: 640px) {
    position: fixed;
    top: auto;
    left: 16px;
    max-height: calc(100% - 190px);
    height: calc(100% - 116px);
    align-items: stretch;
    width: calc(100% - 32px);
  }

  .proposal_votes_summary_container {
    padding: $spacing-4 $spacing-4 0 $spacing-4;
    border-radius: $border-radius-md;
    flex-shrink: 0;
    font-size: $font-size-xs;
    border: 1px solid $gray-300;
    margin: 0 $spacing-4;
    box-shadow: $box-shadow-newDefault;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .proposal_actions_panel {
    min-height: 0;
    flex-shrink: 1;
    padding-top: $spacing-4;
    padding-bottom: $spacing-4;
  }
  .proposal_header {
    padding: 0 $spacing-4;
    font-weight: $font-weight-semibold;
    margin-bottom: $spacing-2;
  }
}
