@import "@/styles/variables";

.vote_row {
  font-size: $font-size-xs;
  color: #66676b;

  .voter {
    color: $gray-4f;
    font-weight: $font-weight-semibold;
  }
  .vote_reason {
    font-family: $font-family-sans;
    font-size: $font-size-xs;
    font-weight: $font-weight-medium;
    white-space: pre-wrap;
    color: #66676b;
    width: fit-content;
  }
}

.vote_container {
  padding: 0 $spacing-4;
  padding-bottom: $spacing-4;
  overflow-y: scroll;
  max-height: calc(100vh - 437px);
}

.single_vote {
  color: $black;
  font-weight: $font-weight-semibold;
  font-size: $font-size-xs;
  margin-bottom: $spacing-5;
  border-radius: $border-radius-md;
  border: 1px solid $gray-eb;

  &__content {
    color: $gray-700;
    gap: $spacing-1;
    font-weight: $font-weight-medium;
    padding: 0 $spacing-3 $spacing-3 $spacing-3;
  }

  &__reason {
    margin-top: $spacing-1;
    color: $gray-700;
    font-weight: $font-weight-medium;
    white-space: pre-wrap;
    padding: $spacing-3;
    border-top: 1px solid $gray-300;
  }
}
