@use "@/styles/variables" as *;

.proposals_list_container {
  max-width: $max-width-6xl;

  .proposals_table_container {
    border: 1px solid $gray-300;
    border-radius: $border-radius-xl;
    box-shadow: $box-shadow-newDefault;
    overflow: hidden;
    margin-bottom: 2rem;
  }
}
