@import "@/styles/variables";

.container {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  color: #66676b;
}

.vote_for {
  color: $votes-for;
}

.vote_against {
  color: $votes-against;
}

.vote_abstain {
  color: $votes-abstain;
}

.vote {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
}

.details_sub {
  padding: $spacing-4 $spacing-6;
}

.vote_type {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  color: #66676b;
}

.vote_title {
  font-size: $font-size-base;
  padding: $spacing-1 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vote_reason_container {
  overflow-x: hidden;
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  white-space: pre-wrap;
  color: #66676b;
  word-wrap: break-word;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  ::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  @media (max-width: $screen-sm) {
    padding-top: 0;
    height: fit-content;
  }
}

.standard_container {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
}
