@import "@/styles/variables";

.container {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  color: #66676b;
}

.vote_for {
  color: $votes-for;
}

.vote_against {
  color: $votes-against;
}

.vote_abstain {
  color: $votes-abstain;
}

.vote {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
}

.details_container {
  display: grid;
  overflow-y: hidden;
  grid-template-columns: 1fr 1px 1fr;

  @media (max-width: $max-width-2xl) {
    grid-template-rows: 1fr;
    grid-template-columns: none;
    overflow-y: scroll;
  }
}

.details_sub {
  padding: $spacing-4 $spacing-6;
}

.vote_type {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  color: #66676b;
}

.vote_title {
  font-size: $font-size-base;
  padding: $spacing-1 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vote_details_container {
  border-radius: $border-radius-lg;
  border-width: $spacing-px;
  border-color: $gray-eb;
  background: $white;
  box-shadow: $box-shadow-default;
  max-height: 15rem;
}

.vote_reason {
  width: $spacing-px;
  background: #ebebeb;

  @media (max-width: $max-width-2xl) {
    display: none;
  }
}

.vote_reason_container {
  overflow-y: scroll;
  overflow-x: scroll;
  padding: $spacing-4 $spacing-6;

  @media (max-width: $max-width-2xl) {
    padding-top: 0;
    height: fit-content;
  }

  & > pre {
    font-family: $font-family-sans;
    font-size: $font-size-xs;
    font-weight: $font-weight-medium;
    white-space: pre-wrap;
    color: #66676b;
    width: fit-content;
  }
}

.standard_container {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
}
