@import "@/styles/variables";

.metric_card_container {
  background: $white;
  border-radius: $border-radius-lg;
  padding: $spacing-3;
  border-width: $spacing-px;
  border-color: $gray-300;
  box-shadow: $box-shadow-newDefault;
  .icon_container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $spacing-2;
    border-width: $spacing-px;
    border-color: $gray-300;
    flex-shrink: 0;
    padding: $spacing-3;
    margin-right: $spacing-4;
    background-color: $gray-fa;
  }
  .header_container {
    display: flex;
    font-size: $font-size-sm;
    color: $gray-700;
    white-space: nowrap;
    text-overflow: ellipsis;
    a {
      margin: $spacing-1;
    }
  }
  .body_container {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
