@import "@/styles/variables";
.metric_card_container_link {
  @media (max-width: $max-width-lg) {
    width: 100%;
  }
}
.metric_card_container {
  background: $white;
  border-radius: $border-radius-xl;
  padding: $spacing-3;
  padding-right: $spacing-5;
  border-width: $spacing-px;
  border-color: $gray-300;
  box-shadow: $box-shadow-newDefault;
  transition: all 0.2s ease-in-out;
  @media (max-width: $max-width-lg) {
    width: 100%;
    border: 0px;
    box-shadow: none;
    padding: $spacing-1 $spacing-3;
  }
  .link_icon {
    opacity: 0.2;
  }
  .icon_container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $box-shadow-newDefault;
    border-radius: $border-radius-md;
    border-width: $spacing-px;
    border-color: $gray-300;
    flex-shrink: 0;
    padding: $spacing-3;
    background-color: $gray-fa;
    > img {
      opacity: 0.7;
    }
  }
  .header_container {
    display: flex;
    font-size: $font-size-sm;
    color: $gray-700;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .body_container {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.metric_card_container:last-child {
  @media (max-width: $max-width-lg) {
    padding-bottom: $spacing-3;
  }
}
.metric_card_container:first-child {
  @media (max-width: $max-width-lg) {
    padding-top: $spacing-3;
  }
}
.hover:hover {
  box-shadow: $box-shadow-newHover;
}
.hover:active {
  box-shadow: $box-shadow-none;
}
