.dao_metric_container {
  display: flex;
  flex-direction: column;
  @apply w-full;
  @apply px-1;

  @screen md {
    flex-direction: row;
    justify-content: space-between;
  }
}

.dao_metric_card {
  @apply my-2;
  @apply bg-white;
  @apply shadow;
  @apply rounded-lg;
  @apply w-full;

  @screen sm {
    @apply my-2;
    @apply mx-4;
  }
  @screen md {
    @apply my-0;
  }
}
