@import "@/styles/variables";

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 0 $spacing-4;

  .dialog_content {
    background: white;
    width: $max-width-md;
    padding: $spacing-6;
    border-radius: $border-radius-xl;
    box-shadow: $box-shadow-xl;
    margin: 0;
    z-index: 1100;
    transform-style: preserve-3d;
    @media (max-width: $screen-sm) {
      width: 100%;
    }
  }
}

.dialog_transparent {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 0;

  .dialog_transparent_content {
    background: transparent;
    padding: $spacing-6;
    border-radius: $border-radius-xl;
    margin: 0;
    transform-style: preserve-3d;
    @media (max-width: $screen-sm) {
      width: 100%;
    }
  }
}
