@import "@/styles/variables";

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: justify-center;
  align-items: items-center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 0 $spacing-4;

  .dialog_content {
    background: white;
    width: $max-width-md;
    padding: $spacing-6;
    border-radius: $border-radius-xl;
    box-shadow: $box-shadow-xl;
    margin: auto;
    z-index: 1100;
  }
}
