name: Unit Tests
on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    env:
      READ_WRITE_WEB2_DATABASE_URL_PROD: ${{ secrets.READ_WRITE_WEB2_DATABASE_URL_PROD}}
      READ_ONLY_WEB3_DATABASE_URL_PROD: ${{ secrets.READ_WRITE_WEB3_DATABASE_URL_PROD}}
      READ_WRITE_WEB2_DATABASE_URL_DEV: ${{ secrets.READ_WRITE_WEB2_DATABASE_URL_DEV}}
      READ_ONLY_WEB3_DATABASE_URL_DEV: ${{ secrets.READ_WRITE_WEB3_DATABASE_URL_DEV}}
      NEXT_PUBLIC_AGORA_ENV: "dev"

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Generate Typechain
        run: yarn generate-typechain

      - name: Debug environment variables
        run: env | sort

      - name: Run unit tests
        run: yarn test
