@import "@/styles/variables";

.delegate_container {
  margin: $spacing-8;
  margin-top: $spacing-8;
  padding-left: $spacing-4;
  padding-right: $spacing-4;
  width: 100%;
  max-width: $max-width-6xl;

  @media (max-width: $max-width-6xl) {
    flex-direction: column;
    align-items: center;
  }
  .left_container {
    position: sticky;
    top: $spacing-16;
    flex-shrink: 0;
    width: $max-width-xs;

    @media (max-width: $max-width-6xl) {
      position: static;
    }

    @media (max-width: $max-width-lg) {
      width: 100%;
    }
    p {
      color: #66676b;
      line-height: $line-height-normal;
      font-size: $font-size-xs;
      padding: $spacing-2;
    }
  }
  .right_container {
    margin-left: $spacing-12;
    min-width: 0;
    flex: 1;
  }
}
